__pycache__
__pycache__/*
.vscode
.vscode/*
eval_code
eval_code/*

experiments_on_av_data
experiments_on_av_data/*
experiments_on_dhf1k
experiments_on_dhf1k/*
VideoSalPrediction
VideoSalPrediction/*

*.pyc
wandb
wandb/*
scripts/*

eval_multiprocess.py

data
data/*